// mac address for WoL
#define WoL_MAC_ADDRESS { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }

// listeting port for WakeOnLan functionality
#define WOL_LISTEN_PORT 00000

// NTP pool IP
#define NTP_POOL_IP 185,244,195,159

// Wi-Fi credentials
#define WIFI_SSID     "****"
#define WIFI_PASSWORD "****"